// ---------------------------
// nav
// ---------------------------

@if $mq-all {
  .entry {
    overflow: hidden;
    position: relative;
    margin-bottom: 85px;
    &-header {
      margin-top: 65px;
      .entry-title {
        border-bottom: 1px solid #3b5998;
        color: #3b5998;
        font-size: 24px;
        .fa {
        }
        .fa-wikipedia-w:before {
          font-size: 0.5em;
          padding: 4px;
        } 
      }
    }
    &-body {
      overflow: hidden;
      img {
        float: left;
        padding: 4px;
        border: 1px solid #ccc;
      }
      .entry-summary {
        display: inline-block;
        width: 56%;
        padding-left: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
      .entry-more {
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
      display: inline-block;
      text-align: right;
      position: absolute;
      bottom: 0;
      color: #3b5998;
      text-decoration: none;
      margin-right: 5px;
        a {
          color: #3b5998;
          border-bottom: 2px solid #3b5998;
          margin-bottom: 0px;
          padding-bottom: 2px;
          border-bottom-width: 1px;
        }
        a:hover {
          text-decoration: none;
          color: #3b5998;
        }
    }
  }
}

@if $mq-pc {
}

@if $mq-tablet {
}
