// ---------------------------
// header
// ---------------------------

@if $mq-all {
  .site-title {
    font-family: 'Cormorant Garamond', serif;
    @include font-size(48);
    margin: 34px 0 30px;
    line-height: 1;
    float: left;
    color: $base-color01;
  }
  .site-tagline {
    float: right;
    margin-top: 47px;
  }
  .nav-button {
    display: none;
  }
}

@if $mq-pc {
}

@if $mq-sp {
  .nav-button {
    position: fixed;
    top: 10px;
    right: 10px;
    display: block;
    @include font-size(30);
    z-index: 1;
  }
}
