  <header class="layout-header">
    <div class="layout-inner">
      <h1 class="site-title">WordPress Realtor Tips</h1>
      <p class="site-tagline">不動産サイトをWordPressで作成するためのお役立ちサイト</p>
    </div><!-- /.layout-inner -->
    <div class="nav-button"><i class="fa fa-bars" aria-hidden="true"></i></div>
  </header>
  <nav class="layout-nav">
    <div class="layout-inner">
      <ul class="global-nav-list">
        <li class="global-nav-list-item"><a href="#">HOME</a></li>
        <li class="global-nav-list-item"><a href="#">CATEGORY</a></li>
        <li class="global-nav-list-item"><a href="#">ABOUT</a></li>
      </ul>
    </div><!-- /.layout-inner -->
  </nav>

